body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lightcoral;
}

h1 {
    color: black;
    font-size: 50px;
}

p {
    color: black;
    font-size: 20px;
}

#gameboard {
    width: 420px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: thistle;
    cursor: pointer;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 8px;
}

